<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}tag/projects/">Projects</a></li>
    <li class="nav-biostatistics" role="menuitem"><a href="{{site.baseurl}}tag/biostatistics/">Biostatistics</a></li>
    <li class="nav-bioinformatics" role="menuitem"><a href="{{site.baseurl}}tag/bioinformatics/">Bioinformatics</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Posts by Tags</a>
    </li>
</ul>