<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}/">home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}/about/">about</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}/tag/project/">projects</a></li>
    <li class="nav-biostatistics" role="menuitem"><a href="{{site.baseurl}}/tag/study/">biostatistics</a></li>
    <li class="nav-bioinformatics" role="menuitem"><a href="{{site.baseurl}}/tag/toy/">bioinformatics</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="{{site.baseurl}}/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="{{site.baseurl}}/author_archive.html">Tag별 Posts</a>
    </li>
</ul>